.card-title {
  color: black !important;
}

.card .card-image .card-title {
  text-transform: capitalize;
  position: unset !important;
}

.collection-item,
.collection-header {
  text-transform: capitalize;
  padding-left: unset !important;
}

.collection-header {
  font-weight: bold
}